$gradient: linear-gradient(to bottom, #191d1f, #4e535e);
$gradient_example: linear-gradient(313deg, #2d3038 59%, #191d1f);
$mainColor: #2d3038;
$columnColor: #383e44;
$fontColor: #d6d7dd;
$labelColor: #666a6e;
$baseColor: #191d1f;
$input_grid_color: #383e44;

* {
	margin: 0;
	padding: 0;
}
body {
	overflow: hidden;
	background-color: $baseColor;
	font-family: "Noto Sans JP", sans-serif;
	// color: white;
	font-size: 1vw;
}
#video_container {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}
.controllers_container {
	border: 1px solid $baseColor;
	width: 25%;
	height: 100vh;
	position: absolute;
	background-color: $mainColor;
	color: $fontColor;
	border-radius: 30px 10px 3px 50px;
	border-left: 2px solid $baseColor;
	z-index: 10;
}
select {
	// A reset of styles, including removing the default dropdown arrow
	// appearance: none;
	border: 1px solid $labelColor;
	// Additional resets for further consistency
	background-color: $mainColor;
	border: none;
	padding: 0 1em 0 0;
	margin: 0;
	width: 100%;
	height: 3vw;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
	color: $fontColor;
	// line-height: inherit;
}
select:hover {
	border: 2px solid white;
}
.parent_label_container,
input {
	display: flex;
	flex-direction: column;
}
input {
	margin-bottom: 3%;
	border-radius: 5px;
	border: none;
	height: 2.5vh;
	color: $fontColor;
	background-color: $columnColor;
}
input[type="text"] {
	padding: 2% 5%;
	color: $fontColor;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
	marin-left: 10%;
}
input[type="number"] {
	// padding: 2% 5%;
	// padding: 10px;
	text-align: center;
	width: 30%;
	color: $fontColor;
	box-sizing: border-box;
	background-image: $gradient;
}
.parent_label_container {
	margin-top: 15%;
	color: $fontColor;
}

.parent_contaienr {
	padding: 15% 25% 15% 10%;
	position: relative;
	top: 5%;

	// height: 70vh;

	h3 {
		position: absolute;
	}
}
.boton {
	border: none;
	background-image: $gradient;
	width: 30px;
	height: 30px;
	margin-top: 4%;
	border-radius: 100%;
	position: absolute;
	right: 25%;

	cursor: pointer;
}

.children_controller {
	position: absolute;
	height: 40vh;
	width: 50%;
	left: 25%;
	background-color: $mainColor;
	bottom: 0;
}

.children_controller_grid {
	position: absolute;
	width: 100%;
	h3 {
		position: absolute;
	}
}

.grid_wrapper_container {
	width: 90%;
	margin: 0 auto;
}

.options_children_contianer {
	// border: 1px solid white;
	width: 40%;
	padding: 3%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

	.children_lonely_container {
		// margin: 12% 7% 8% 21%;
    align-self: center;
		color: $fontColor;
	}
}

.input_children_contianer {
	// border: 1px solid white;
	width: 100%;
	height: 22vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	.input_label_container {
		width: 36%;
		height: 9vh;
		// border: 1px solid white;
		padding-left: 3%;
		display: flex;
		justify-content: space-between;
		background-color: $input_grid_color;
		border-radius: 15px;

		span {
			// border: 1px solid black;
			font-size: 0.9vw;
			align-self: center;
			color: $fontColor;
		}
		label {
			// border: 1px solid red;
			border-radius: 100%;
			width: 50px;
			height: 50px;
			align-self: center;
			padding: 1%;
			margin-right: 14%;

			input {
				width: 50px;
				height: 50px;
				border-radius: 100%;
			}
		}
	}
}

.select_grid {
	// border: 1px solid white;
	width: 6vh;
	border-radius: 10px;
	height: 3.5vh;
	background-image: $gradient;
	// padding: 2%;
	// margin-top: 6%;
  text-align: center;
	width: 6vh;
}

.boton2 {
	position: absolute;
	left: 200%;
}

.grid_container {
	position: absolute;
	width: 50%;
	// height: 70vh;
	left: 25%;
	z-index: -10;
	background-image: $gradient_example;
}
.wrapper {
	// border: 1px solid red;
	display: grid;
	gap: 10px;
	// grid-auto-rows: 80% 80%;
	height: 60vh;
}
.cell_grids_component {
	background-color: #02c7b3;
}


.example_container {
	padding: 15% 25% 15% 10%;
	position: relative;
	top: 5%;
	color: $fontColor;

	.example_wrapper {
		padding: 12%;
		background-image: $gradient_example;
		border-radius: 20px;
	}
}

.controllers_right_container {
	border: 1px solid $baseColor;
	width: 25%;
	height: 100vh;
	right: 0;
	position: absolute;
	background-color: $mainColor;
	color: $fontColor;
	border-radius: 5px 34px 30px 4px;
	z-index: 10;
}

.howManyGrids_container{
	margin-top: 6%;
}